@import "/home/zorax/.config/waybar/matugen/colors.css";

* {
    border: none;
    border-radius: 0px;

    font-family:
        "Radio Canada Big", "JetBrainsMono Nerd Font propo", sans-serif;
    font-weight: bold;
    font-size: 14px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: @surface;
    border: 0px solid @outline;
    border-radius: 300px;
}

tooltip {
    background: @background;
    border: 1px solid @surface_container_lowest;
}

tooltip label {
    color: @primary_container;
    padding: 6px;
}

#media {
    margin: 0px 2px;
    padding: 2px 8px;
    background: @secondary;
    color: @tertiary;
}

#workspaces {
    background-color: @surface;
    padding: 7px 1px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    color: #abb2bf;
}

#workspaces button {
    padding: 2px 11px;
    margin: 0px 3px;
    border-radius: 50px;
    color: @surface_container_highest;
    background-color: @surface;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(
        135deg,
        @primary 10%,
        @secondary 30%,
        @tertiary_fixed_dim 100%
    );
    color: #282c34;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button.hover {
    background-color: @primary;
    color: #282c34;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @surface_tint;
    color: #282c34;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#custom-weather,
#custom-power,
#custom-menu,
#power-profiles-daemon {
    background-color: @surface;
    margin: 5px 5px;
    padding: 0.3rem 0.7rem;
    border-radius: 300px;
    font-size: 16px;
    color: @tertiary;
}

#custom-menu {
    color: @on_surface;
}

#custom-power {
    color: @error;
}

#clock {
    color: @on_surface;
}

#pulseaudio {
    color: @tertiary;
}

#battery {
    color: @tertiary;
}

#backlight {
    color: @on_surface;
    /* color5 */
}

#custom-media {
    color: @tertiary;
    /* color2 */
    background-color: @background;
    /* background */
    margin: 0 4px 0 4px;
    padding: 0 1px 0 1px;
    /* top, right, bottom, left */
    border-radius: 15px;
    font-size: 15px;
}

#custom-notification {
    background-color: @background;
    margin: 0 2px 0 2px;
    padding: 0 11px 0 11px;
    border-radius: 15px;
    border: 1px solid @on_secondary_fixed_variant;
}

#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#clock:hover,
#custom-media:hover,
#custom-notification:hover,
#custom-menu:hover,
#custom-media-info:hover {
    color: @primary;
}
